*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


html {
  background: url(/billeder/baggrund.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  position: fixed;
  width: 100%

}

nav ul{
   display: flex;
   justify-content: space-around;
   font-family: 'Josefin Sans', sans-serif;
   width: 30%;
}


 nav ul li{
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 10px;
}

nav ul li:hover{
  background-color: rgba(0, 0, 0, 1);
}

 nav ul li a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
}

 nav ul li ul {
   display: none;
   position: absolute;
   background-color: rgba(0, 0, 0, 1);
   width: 150px;
   height: 110px;
   padding: 10px;
   margin: -10px;
   margin-top: 10px;
   border-radius: 0px 0px 5px 5px;
 }

 nav ul li:hover ul {
   display: block;
 }

 nav ul li ul li {
   padding: 7px;
 }

 nav ul li ul li a {
   padding: 8px 14px;
 }

 nav ul li ul li:hover {
   background-color: #66432f
 }

 .headercontainer {
   font-family: 'Josefin sans thin', sans-serif;
   display: flex;
   justify-content: center;
   width: 100%;
 }

 .headercontainer h2 {
   font-size: 7vw;
   position: absolute;
   top: 130px;
 }


 .item1 {
   grid-area: lille1;
   background-image: url('/billeder/produkt-til-silder2.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   background-color: rgba(255, 255, 255, 0.5);
   text-align: center;
   padding: 70px 0;
   font-size: 18px;
   font-family: 'Josefin Sans', sans-serif;
   box-shadow: 0px 6px 12px #00000029;
}
 .item2 {
   grid-area: lille2;
   background-image: url('/billeder/produkt-til-silder2.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   background-color: rgba(255, 255, 255, 0.5);
   text-align: center;
   padding: 70px 0;
   font-size: 18px;
   font-family: 'Josefin Sans', sans-serif;
   box-shadow: 0px 6px 12px #00000029;
  }
 .item3 {
   grid-area: lille3;
   background-image: url('/billeder/produkt-til-silder2.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   background-color: rgba(255, 255, 255, 0.5);
   text-align: center;
   padding: 70px 0;
   font-size: 18px;
   font-family: 'Josefin Sans', sans-serif;
   box-shadow: 0px 6px 12px #00000029;
 }
 .item4 {
   grid-area: stor;
   background-image: url('/billeder/produkt-til-silder2.png');
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   object-fit:
   background-color: rgba(255, 255, 255, 0.5);
   text-align: center;
   padding: 70px 0;
   font-size: 18px;
   font-family: 'Josefin Sans', sans-serif;
   box-shadow: 0px 6px 12px #00000029;
 }

 .item5 {
   grid-area: tekst1;
   text-align: center;
   padding: 70px 0;
   font-size: 18px;
   font-family: 'Josefin Sans', sans-serif;
 }
 .item6 {
   grid-area: kurv1;
   text-align: center;
   padding: 70px 0;
   font-size: 18px;
   font-family: 'Josefin Sans', sans-serif;
  }

 .grid-container {
   display: grid;
   grid-template-areas:
     'lille1 stor stor tekst1'
     'lille2 stor stor tekst1'
     'lille3 stor stor kurv1';
   grid-gap: 20px;
   padding: 5vh;
   margin: 10vw;
 }

 button{
   padding: 1vw 4vh;
   cursor: pointer;
   letter-spacing: 0.5px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 20px;
   color: #fff;
   background: #E94F2A 0% 0% no-repeat padding-box;
   border-radius: 5px;
 }

  p{
    padding-top: 5vh;
    font-family: 'Josefin Sans light', sans-serif;
    letter-spacing: 0;
    color: #707070;
  }
 .moms{
  font-family: 'Josefin Sans light', sans-serif;
  letter-spacing: 0;
  color: #707070;
 }

footer{
  bottom: 0px;
  color: #fff;
  width: 100%;
  height: 150px;
  background: #111315 0% 0% no-repeat padding-box;
  font-family: 'Josefin Sans', sans-serif;
}

.footer-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3vh;
  color: #fff;
  text-decoration: none;
  align-items: center;
}

.footer-logo{
  width: 5%;
  float: left;
  margin-right: 10vw;
}

.eu-logo{
  width: 15%;
}

.footer-tekst{
  list-style: none;
  line-height: 23px;
  color: #fff;
}

.mail{
  color: #fff;
  text-decoration-color: #fff;
}

.footer-overskrift{
  padding-bottom: 1vh;
}
